/web/bundles/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

.idea/

node_modules/
npm-debug.log

/src/WebRobot/FreelanceBundle/Resources/public/css
/src/WebRobot/FreelanceBundle/Resources/public/js
/src/WebRobot/FreelanceBundle/Resources/public/images

*~

/web/css/*
/web/js/*

npm-debug.*