<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('WebRobotFreelanceBundle:Default:head.html.twig') }}
</head>
<body>
{{ include('WebRobotFreelanceBundle:Default:nav.html.twig') }}
<div class="container">
    {% block body %}

    {% endblock %}
</div>

{% block footer %}
    {% javascripts
    "@WebRobotFreelanceBundle/Resources/public/vendor/jquery/dist/jquery.min.js"
    "@WebRobotFreelanceBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>