<!DOCTYPE html>
<html lang="en">
<head>
    <title>FreelanceBoard</title>
</head>
<body>
<div class="container">
    {% block body %}
        {% block mainContent %}
        {% endblock %}
    {% endblock %}
</div>

{% block footer %}

{% endblock %}
</body>
</html>