<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>FreelanceBoard</title>
    <meta charset="UTF-8">
    {% stylesheets
        "@WebRobotFreelanceBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.min.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% javascripts
        "@WebRobotFreelanceBundle/Resources/public/vendor/angular/angular.min.js"
        "@WebRobotFreelanceBundle/Resources/public/angular/app.js"
        "@WebRobotFreelanceBundle/Resources/public/angular/Controller/ClientController.js"
        "@WebRobotFreelanceBundle/Resources/public/angular/Controller/SessionController.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
{% block nav %}
{% endblock %}
<div class="container">
    {% block body %}

    {% endblock %}
</div>

{% block footer %}
    {% javascripts
    "@WebRobotFreelanceBundle/Resources/public/vendor/jquery/dist/jquery.min.js"
    "@WebRobotFreelanceBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>