{% extends '::base.html.twig' %}

{% block title %}Freelance Board{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Clients</div>
            <div class="panel-body">
                {% if clients %}
                    {% for client in clients %}
                        <h3>{{ client.name }}</h3>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Projects</div>
            <div class="panel-body">
                {% if projects %}
                    {% for project in projects %}
                        <h3>{{ project.name }}</h3>
                    {% endfor %}
                {% else %}
                    No projects yet :(
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Unpaid time</div>
            <div class="panel-body">
                {% if total != 0 %}
                    Total unpaid time : {{ total }}
                {% else %}
                    No unpaid time
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
