{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-lg-6">
        <h1>Client list</h1>
        <a href="{{ path('clients_new') }}">
            <button class="btn btn-primary" type="button">Create a new entry</button>
        </a>
        <ul class="nav nav-pills nav-stacked">
            {% for entity in entities %}
                <li>
                    <a href="#">{{ entity.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
